:root {
    --bg-main: #fafafa;
    --color-accent: #0095f6;
    --color-links: #00376b;
    --color-border: #dbdbdb;

    --color-input-txt-label: #919191;
    --color-input-txt: black;
    --color-input-btn: #0095f6;

    --color-helper-txt: #cecece;

    --font-size: 1.2rem;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;

    font-size: 62.5%;
}

* {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--bg-main);
}

.main-wrapper {
    max-width: 94rem;
    margin: 0 auto;
    /* background-color: red; */
    height: 90vh;
    display: flex;
}

.wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-left .mobile-phone {
    position: relative;
    left: 2rem;
}

.slideshow-container {
    position: relative;
    top: -209px;
    left: -283px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.wrapper-right {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2rem;
}

.card {
    padding: 2rem;
    width: 35rem;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 0.1rem;
    margin-bottom: 1rem;
}

.logo {
    background-image: url('../assets/img/sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
    overflow: hidden;
    text-indent: 110%;
    margin: 2.2rem auto 1.2rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 2rem auto 1rem;
}

.form-login .input-login {
    width: 100%;
    background-color: var(--bg-main);
    font-size: 1.2rem;
    outline: none;
    border: 1px solid var(--color-helper-txt);
    border-radius: 3px;
    padding: 1.4rem 0 0.2rem 0.8rem;
    margin-bottom: 0.8rem;
}

.form-login .input-login.btn-login {
    background-color: var(--color-input-btn);
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    padding: 0.7rem 0.9rem;
    margin-top: 0.5rem;
}

.separator-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.separator {
    width: 35%;
    margin: 0 1rem;
    border-top: 1px solid var(--color-border);
}

.or {
    color: var(--color-input-txt-label);
}

.fb-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.img-fb {
    background-image: url('../assets/img/sprite.png');
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
    margin-right: 1rem;
}

.fb-login-text {
    color: var(--color-links);
    font-size: 1.4rem;
}

.forgot-passwd {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.forgot-passwd-text {
    text-decoration: none;
    color: var(--color-links);
    font-size: 1.2rem;
}

.card.card-signup .signup {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
}

.card.card-signup .register {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-accent);
}

.download-app {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background: none;
    border: none;
}

.download-app .row p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.download-app .row.btns {
    display: flex;
    justify-content: center;
}

.btn-download {
    margin-right: 1rem;
}

.download-btn-img {
    height: 4rem;
}

.footer {
    max-width: 120rem;
    height: 10rem;
    margin: 0 auto;
    padding: 2rem 9rem;
    font-weight: bold;
}

.footer ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 2.19rem;
}

.footer ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-links);
}
.footer span {
    display: block;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: var(--color-helper-txt);
}

@keyframes slideshow {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img.slide {
    animation-name: slideshow;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}

img.slide:nth-of-type(1) {
    animation-delay: 16s;
}

img.slide:nth-of-type(2) {
    animation-delay: 12s;
}

img.slide:nth-of-type(3) {
    animation-delay: 8s;
}

img.slide:nth-of-type(4) {
    animation-delay: 4s;
}

img.slide:nth-of-type(5) {
    animation-delay: 0s;
}
