:root {
    --main-color-bg: #71c9f8;
    --main-bg: white;

    --main-deg-bg: linear-gradient(
        90deg,
        #30abec 0%,
        #97daff 100%
    );

    --btn-color-primary: #1da1f2;
    --btn-color-primary-darker: #118fdd;
    --btn-color-secondary: white;

    --btn-color-bg-primary: #1da1f2;
    --btn-color-bg-primary-hover: #1a82c2;
    --btn-color-txt-primary: white;

    --btn-color-bg-secondary: white;
    --btn-color-bg-secondary-hover: rgba(28, 171, 214, 0.24);
    --btn-color-txt-secondary: black;

    --input-color-bg: #f5f8fa;
    --input-color-txt-label-active: #0081d1;
    --input-color-txt: black;

    --helper-color-txt: #657786;

    --font-size: 1.2rem;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;

    font-size: 62.5%;
}

* {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90fr;
    height: 100vh;
}

.main-wrapper .left-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-deg-bg);
    position: relative;
    overflow: hidden;
}

.main-wrapper .left-wrapper .twitter-bg-logo g path {
    fill: var(--btn-color-primary-darker);
}

.main-wrapper .left-wrapper .twitter-bg-logo {
    position: absolute;
    height: 160vh;
    left: -5rem;
    z-index: 0;
}

.main-wrapper .left-wrapper ul {
    display: block;
    max-width: 38rem;
    z-index: 10;
}

.main-wrapper .left-wrapper ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: var(--font-family);
    padding-bottom: 3rem;
}

.main-wrapper .left-wrapper ul li span {
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1.5;
}

.icon-bullet-points {
    display: inline-block;
    height: 2.9rem;
    padding-right: 1.5rem;
    filter: invert();
}

.main-wrapper .right-wrapper {
    background-color: white;
    grid-column: 2 / -1;
}

.footer-wrapper {
    grid-column: 1 / -1;
}

.footer-wrapper ul li {
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-wrapper ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    height: 4.9rem;
    justify-content: center;
    min-height: 0px;
    min-width: 0px;
    margin: 0;
    padding: 1rem 1.5rem;
    position: relative;
    list-style-type: none;
}

.footer-link {
    text-decoration: none;
    color: var(--helper-color-txt);
    font-family: var(--font-family);
    font-size: 1.3rem;
    padding-right: 1.5rem;
}

.footer-link:hover {
    text-decoration: underline;
}

span.footer-link:hover {
    cursor: default;
    text-decoration: none;
}
